In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [20]:
# let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [21]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Downloads\chromedriver_win32\chromedriver.exe')# connecting to the web driver

# QUESTION -1

In [4]:
url =  'https://www.naukri.com/'
driver.get(url)

In [5]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC

In [10]:
search_job =driver.find_element(By.CLASS_NAME, 'suggestor-input ')# Finding web element for search job bar using id
search_job

In [11]:
#write on search bar
search_job.send_keys("Data Analyst")

In [12]:
# Finding web element for search location bar using relative xpath
search_locn = driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [13]:
#finding web element for job location bar
search_locn.send_keys("Bangalore")

In [14]:
#clicking using absolute xpath
search_bttn = driver.find_element('xpath','/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_bttn

In [15]:
search_bttn.click()

# extracting job titles

In [16]:
# let's extract all web elements having job titles
title_tags = driver.find_elements('xpath','//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [17]:
#Now the text of the job title  is inside the web element extracted above
#so we will run a for loop to ittirate over the tags
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
    
job_titles

['Associate - Data Analyst',
 'Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Master Data Management Business Analyst',
 'Hiring For Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II',
 'Senior Data Management Analyst',
 'Data Analyst - Python/Artificial Intelligence',
 'Performance Data Analyst',
 'Happay - Data Analyst',
 'Data Analyst']

# Extracting job location

In [18]:
# let's extract all web elements having job location
location_tags = driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [19]:
#Now the text of the job location  is inside the web element extracted above
#so we will run a for loop to ittirate over the tags
job_location = []

for i in location_tags:
    job_location.append(i.text)
    
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Mumbai (All Areas), Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Mumbai (All Areas)']

# Extracting company names

In [20]:
company_tags = driver.find_elements('xpath','//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [21]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
    
company_names

['Myntra',
 'Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Accenture',
 'Flipkart',
 'Wipro',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Wells Fargo',
 'iMindYourBusiness',
 'Fluence',
 'Happay-Expense Management Solution for Businesses',
 'Kititan Co., Ltd']

# Extracting experience required

exp = driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp)

In [23]:
experience_required = []

for i in exp:
    experience_required.append(i.text)
    
experience_required

['0-2 Yrs',
 '6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '1-2 Yrs',
 '5-10 Yrs']

In [24]:
#CREATING A DATAFRAME FOR FOLLOWING FEATURES
data = pd.DataFrame()
data['job-title'] = job_titles
data['job-location'] = job_location
data['company-name'] = company_names
data['Experence-required'] = experience_required 
data

,job-title,job-location,company-name,Experence-required
0,Associate - Data Analyst,Bangalore/Bengaluru,Myntra,0-2 Yrs
1,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
2,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
3,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
4,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",CURise Analytics Pvt. Ltd.,0-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-3 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
7,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
8,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,2-5 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs
10,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
11,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
12,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,Meesho,3-6 Yrs
13,Financial Data Analyst,Bangalore/Bengaluru,Nuance India,3-8 Yrs
14,Data Analyst II,Bangalore/Bengaluru,Cerner,2-4 Yrs
15,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,4-7 Yrs
16,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",iMindYourBusiness,0-2 Yrs
17,Performance Data Analyst,Bangalore/Bengaluru,Fluence,2-5 Yrs
18,Happay - Data Analyst,Bangalore/Bengaluru,Happay-Expense Management Solution for Businesses,1-2 Yrs
19,Data Analyst,"Bangalore/Bengaluru, Kolkata, New Delhi, Hyder...","Kititan Co., Ltd",5-10 Yrs

# QUESTION - 2

In [25]:
url =  'https://www.naukri.com/'
driver.get(url)

In [26]:
search_job =driver.find_element(By.CLASS_NAME, 'suggestor-input ')
search_job

In [27]:
search_job.send_keys("Data Scientist")

In [28]:
search_locn = driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [29]:
search_locn.send_keys("Bangalore")

In [30]:
search_bttn = driver.find_element('xpath','/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_bttn

In [31]:
search_bttn.click()

In [32]:
title_tags = driver.find_elements('xpath','//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [33]:
job_titles_2 = []

for i in title_tags:
    job_titles_2.append(i.text)
    
job_titles_2

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3']

In [34]:
location_tags = driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [35]:
job_location = []

for i in location_tags:
    job_location.append(i.text)
    
job_location

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [36]:
company_tags = driver.find_elements('xpath','//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [37]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
    
company_names

['Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Schneider Electric',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'EYGBS',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'IBM',
 'Walmart']

In [38]:
data_2 = pd.DataFrame()
data_2['job-title'] = job_titles_2
data_2['job-location'] = job_location
data_2['company-name'] = company_names
data_2

,job-title,job-location,company-name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
6,Research Scientist,Bangalore/Bengaluru,IBM
7,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
8,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
9,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
10,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
11,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm
12,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL
13,EY GBS - Assistant Director - Data Science (10...,Bangalore/Bengaluru,EYGBS
14,Data Scientist,Bangalore/Bengaluru,IBM
15,"Data Scientist, Personalization",Bangalore/Bengaluru,Walmart
16,AWS Sagemaker,Bangalore/Bengaluru\n(WFH during Covid),Wipro
17,Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Wipro
18,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
19,Data Scientist - IN3,Bangalore/Bengaluru,Walmart

# QUESTION - 3

In [46]:
url =  'https://www.naukri.com/'
driver.get(url)

In [47]:
search_job =driver.find_element(By.CLASS_NAME, 'suggestor-input ')
search_job

In [49]:
search_job.send_keys("Data Scientist")

In [50]:
search_locn = driver.find_element("xpath",'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [51]:
search_locn.click()

In [52]:
salary_check = driver.find_element("xpath",'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/p')
salary_check

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/p"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E96463+2188387]
	Ordinal0 [0x00E2E461+1762401]
	Ordinal0 [0x00D43D78+802168]
	Ordinal0 [0x00D71880+989312]
	Ordinal0 [0x00D71B1B+989979]
	Ordinal0 [0x00D9E912+1173778]
	Ordinal0 [0x00D8C824+1099812]
	Ordinal0 [0x00D9CC22+1166370]
	Ordinal0 [0x00D8C5F6+1099254]
	Ordinal0 [0x00D66BE0+945120]
	Ordinal0 [0x00D67AD6+948950]
	GetHandleVerifier [0x011371F2+2712546]
	GetHandleVerifier [0x0112886D+2652765]
	GetHandleVerifier [0x00F2002A+520730]
	GetHandleVerifier [0x00F1EE06+516086]
	Ordinal0 [0x00E3468B+1787531]
	Ordinal0 [0x00E38E88+1805960]
	Ordinal0 [0x00E38F75+1806197]
	Ordinal0 [0x00E41DF1+1842673]
	BaseThreadInitThunk [0x76D6FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77267A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77267A6E+238]

In [ ]:
salary_check.click()

In [ ]:
title_tags = driver.find_elements('xpath','//a[@class="title fw500 ellipsis"]')
len(title_tags)

In [ ]:
job_titles_3 = []

for i in title_tags:
    job_titles_3.append(i.text)
    
job_titles_3

In [ ]:
location_tags = driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

In [ ]:
job_location = []

for i in location_tags:
    job_location.append(i.text)
    
job_location

In [ ]:
company_tags = driver.find_elements('xpath','//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

In [ ]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
    
company_names

In [ ]:
exp = driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp)

In [ ]:
experience_required = []

for i in exp:
    experience_required.append(i.text)
    
experience_required

In [ ]:
data_3 = pd.DataFrame()
data_3['job-title'] = job_titles_3
data_3['job-location'] = job_location
data_3['company-name'] = company_names
data_3['Experence-required'] = experience_required 
data_3

#  QUESTION - 4

In [ ]:
url = 'http://www.flipkart.com/'
driver.get(url)

In [ ]:
search_product =driver.find_element(By.CLASS_NAME, '_3704LK ')
search_product

In [ ]:
search_product.send_keys("sunglasses")

In [ ]:
search_button = driver.find_element('xpath','/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button

In [ ]:
search_button.click()

In [ ]:
brand_tags = driver.find_elements('xpath','//div[@class="_2WkVRV"]')
len(brand_tags)

In [ ]:
Brand = []

for i in brand_tags:
    Brand.append(i.text)
    
Brand

In [ ]:
prd_desc = driver.find_elements('xpath','//a[@class="IRpwTa"]')
len(prd_desc)

In [ ]:
product_description = []

for i in prd_desc:
    product_description.append(i.text)
    
product_description

In [ ]:
price = driver.find_elements('xpath','//div[@class="_30jeq3"]')
len(price)

In [ ]:
Price = []

for i in price:
    Price.append(i.text)
    
Price

In [ ]:
prcnt = driver.find_elements('xpath','//div[@class="_3Ay6Sb"]')
len(prcnt)

In [ ]:
Percentage = []

for i in prcnt:
    Percentage.append(i.text)
    
Percentage

In [ ]:
nxt_button = driver.find_element('xpath','/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
nxt_button

In [ ]:
nxt_button.click()

In [ ]:
brand_tags = driver.find_elements('xpath','//div[@class="_2WkVRV"]')
len(brand_tags)

Brand = []

for i in brand_tags:
    Brand.append(i.text)
    
Brand

prd_desc = driver.find_elements('xpath','//a[@class="IRpwTa"]')
len(prd_desc)

product_description = []

for i in prd_desc:
    product_description.append(i.text)
    
product_description

price = driver.find_elements('xpath','//div[@class="_30jeq3"]')
len(price)

Price = []

for i in price:
    Price.append(i.text)
    
Price

prcnt = driver.find_elements('xpath','//div[@class="_3Ay6Sb"]')
len(prcnt)

Percentage = []

for i in prcnt:
    Percentage.append(i.text)
    
Percentage

print(Brand)
print(Percentage)
print(Price)
print(product_description)

In [ ]:
nxt_button = driver.find_element('xpath','/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
nxt_button

In [ ]:
nxt_button.click()

In [ ]:
brand_tags = driver.find_elements('xpath','//div[@class="_2WkVRV"]')[0:20]
len(brand_tags)

Brand = []

for i in brand_tags:
    Brand.append(i.text)
    
Brand

prd_desc = driver.find_elements('xpath','//a[@class="IRpwTa"]')[0:20]
len(prd_desc)

product_description = []

for i in prd_desc:
    product_description.append(i.text)
    
product_description

price = driver.find_elements('xpath','//div[@class="_30jeq3"]')[0:20]
len(price)

Price = []

for i in price:
    Price.append(i.text)
    
Price

prcnt = driver.find_elements('xpath','//div[@class="_3Ay6Sb"]')[0:20]
len(prcnt)

Percentage = []

for i in prcnt:
    Percentage.append(i.text)
    
Percentage

print(Brand)
print(Percentage)
print(Price)
print(product_description)

# QUESTION - 5

In [ ]:
url = 'http://www.flipkart.com/'
driver.get(url)

In [ ]:
search_product =driver.find_element(By.CLASS_NAME, '_3704LK ')
search_product

In [ ]:
search_product.send_keys("iphone 11")

In [ ]:
search_button = driver.find_element('xpath','/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button

In [ ]:
search_button.click()

In [ ]:
brand_tags = driver.find_elements('xpath',"/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]")
len(brand_tags)

In [ ]:
brand_tags.text

In [ ]:
url = 'http://www.flipkart.com/'
driver.get(url)

In [ ]:
search_product =driver.find_element(By.CLASS_NAME, '_3704LK ')
search_product

In [ ]:
search_product.send_keys('sneakers')

In [ ]:
search_button = driver.find_element('xpath','/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button

In [ ]:
search_button.click()

In [ ]:
brand_tags = driver.find_elements('xpath','//div[@class="_2WkVRV"]')
len(brand_tags)

Brand = []

for i in brand_tags:
    Brand.append(i.text)
    
Brand

prd_desc = driver.find_elements('xpath','//a[@class="IRpwTa"]')
len(prd_desc)

product_description = []

for i in prd_desc:
    product_description.append(i.text)
    
product_description

price = driver.find_elements('xpath','//div[@class="_30jeq3"]')
len(price)

Price = []

for i in price:
    Price.append(i.text)
    
Price

prcnt = driver.find_elements('xpath','//div[@class="_3Ay6Sb"]')
len(prcnt)

Percentage = []

for i in prcnt:
    Percentage.append(i.text)
    
Percentage

print(Brand)
print(Percentage)
print(Price)
print(product_description)

In [ ]:
nxt_button = driver.find_element('xpath','/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
nxt_button

In [ ]:
nxt_button.click()

In [ ]:
brand_tags = driver.find_elements('xpath','//div[@class="_2WkVRV"]')
len(brand_tags)

Brand = []

for i in brand_tags:
    Brand.append(i.text)
    
Brand

prd_desc = driver.find_elements('xpath','//a[@class="IRpwTa"]')
len(prd_desc)

product_description = []

for i in prd_desc:
    product_description.append(i.text)
    
product_description

price = driver.find_elements('xpath','//div[@class="_30jeq3"]')
len(price)

Price = []

for i in price:
    Price.append(i.text)
    
Price

prcnt = driver.find_elements('xpath','//div[@class="_3Ay6Sb"]')
len(prcnt)

Percentage = []

for i in prcnt:
    Percentage.append(i.text)
    
Percentage

print(Brand)
print(Percentage)
print(Price)
print(product_description)

In [ ]:
nxt_button = driver.find_element('xpath','/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
nxt_button

In [ ]:
nxt_button.click()

In [ ]:
brand_tags = driver.find_elements('xpath','//div[@class="_2WkVRV"]')[0:20]
len(brand_tags)

Brand = []

for i in brand_tags:
    Brand.append(i.text)
    
Brand

prd_desc = driver.find_elements('xpath','//a[@class="IRpwTa"]')[0:20]
len(prd_desc)

product_description = []

for i in prd_desc:
    product_description.append(i.text)
    
product_description

price = driver.find_elements('xpath','//div[@class="_30jeq3"]')[0:20]
len(price)

Price = []

for i in price:
    Price.append(i.text)
    
Price

prcnt = driver.find_elements('xpath','//div[@class="_3Ay6Sb"]')[0:20]
len(prcnt)

Percentage = []

for i in prcnt:
    Percentage.append(i.text)
    
Percentage

print(Brand)
print(Percentage)
print(Price)
print(product_description)

# QUESTION - 8

In [22]:
url = 'https://www.amazon.in/'
driver.get(url)

In [23]:
search_job =driver.find_element("xpath", '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input ')
search_job

In [24]:
search_job.send_keys("laptops")

In [25]:
search_bttn = driver.find_element('xpath','/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_bttn

In [26]:
search_bttn.click()

In [27]:
cpu_typ = driver.find_element("xpath",'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[12]/span/a/span')
cpu_typ

In [28]:
cpu_typ.click()

In [29]:
title_tags = driver.find_elements('xpath','//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')[0:10]
len(title_tags)

10

In [30]:
laptop_titles = []

for i in title_tags:
    laptop_titles.append(i.text)
    
laptop_titles

['Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms) Full HD IPS Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 11/4 GB Graphics/NVIDIA GeForce RTX 3050 Ti/144 Hz, Black, 2.4 kg) AN515-57',
 'Lenovo Legion 5 Pro Intel Core i7 11th Gen 16"(40.64cm) 500nits WQXGA Gaming Laptop (16GB/1TB SSD/6GB RTX 3060/165Hz/Win11/Office/Blue Backlit/3Yr Warranty/3months Game Pass/Stingray/2.3Kg),82JD005KIN',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Infinix INBook X1 Pro Core i7 10th Gen - (16 GB/512 GB SSD/Windows 11 Home) XL12 Thin and Light Laptop (14 Inch, Noble Red, 1.48 kg)',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS']

In [31]:
Ratings_tags = driver.find_elements('xpath','//a[@class="a-popover-trigger a-declarative"]')[0:10]
len(Ratings_tags)

10

In [32]:
ratings = []

for i in Ratings_tags:
    ratings.append(i.text)
    
ratings

['', '', '', '', '', '', '', '', '', '']

In [33]:
price_tags = driver.find_elements('xpath','//span[@class="a-price-whole"]')[0:10]
len(price_tags)

10

In [34]:
gs-title

['99,990',
 '1,59,990',
 '89,990',
 '86,990',
 '57,890',
 '53,999',
 '75,990',
 '82,990',
 '79,990',
 '1,07,794']

# QUESTION - 9

In [35]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [36]:
search_job =driver.find_element("xpath", '/html/body/section[1]/div/div[2]/form/span/input ')
search_job

In [37]:
search_job.send_keys("Data Scientist")

In [38]:
search_bttn = driver.find_element('xpath','/html/body/section[1]/div/div[2]/form/div[2]/input')
search_bttn

In [39]:
search_bttn.click()

In [41]:
title_tags = driver.find_elements('xpath','//a[@class="gs-title"]')[0:10]
len(title_tags)

10

In [42]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
job_title

['Lead Data Scientist Salary in India | AmbitionBox',
 '',
 'Senior Data Scientist Salary in India | AmbitionBox',
 '',
 'Data Scientist Salary in Bhubaneswar | AmbitionBox',
 '',
 'Cyient Insights Data Scientist Salaries in India | AmbitionBox',
 '',
 'Data Scientist Salary in Gurgaon/Gurugram | AmbitionBox',
 '']

In [43]:
data = pd.DataFrame()
data['title'] = job_title
data

                                               title
0  Lead Data Scientist Salary in India | AmbitionBox
1
2  Senior Data Scientist Salary in India | Ambiti...
3
4  Data Scientist Salary in Bhubaneswar | Ambitio...
5
6  Cyient Insights Data Scientist Salaries in Ind...
7
8  Data Scientist Salary in Gurgaon/Gurugram | Am...
9